@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./loaders.scss";
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=DM+Sans&family=Marko+One&family=Passion+One&family=Patrick+Hand&family=Roboto&display=swap");

:root {
  --link-color: #f68b59;
  --link-underline-padding: 0.5em;
  --peach: #f68b59;
  --teal: #59f693;
  --pink-light: #fef1eb;
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 0; /* if you use -1 you have to set to `"window"` the interactivity.detectsOn property */
}
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--body-bg);
}

body {
  overscroll-behavior: none;
}
p {
  font-family: "Patrick Hand", cursive;
}
main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }
    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}

blockquote {
  font-weight: 100;
  font-size: 2rem;

  line-height: 1.4;
  position: relative;
  margin: 0;
  padding: 0.5rem;
}

blockquote:before,
blockquote:after {
  position: absolute;
  color: #fef1eb;
  font-size: 8rem;
  width: 4rem;
  height: 4rem;
}

blockquote:before {
  content: "“";
  left: -5rem;
  top: -2rem;
  text-shadow: 0px 1px 4px #000000;
  //when screen is 768px OR LESS
  @media only screen and (max-width: 768px) {
    left: 1rem;
    z-index: -9;
  }
}

blockquote:after {
  content: "”";
  right: -3rem;
  bottom: 1rem;
  text-shadow: 0px 1px 4px #000000;
  //when screen is 768px OR LESS
  @media only screen and (max-width: 768px) {
    z-index: -9;
    right: 2rem;
    bottom: -1.5rem;
  }
}

cite {
  line-height: 3;
  text-align: left;
  font-family: "Patrick Hand", cursive;
}

.font-1 {
  font-family: "Courgette", cursive;
}
.font-2 {
  font-family: "Patrick Hand", cursive;
}

.underline {
  display: inline-block;
  padding: 0 var(--link-underline-padding);
  text-decoration: none;
}

.underline:after {
  background-color: var(--peach);
  content: "";
  display: block;
  height: 0.2em;
  margin-left: calc(var(--link-underline-padding) * -1);
  margin-top: 0.1em;
  transition: width 0.5s;
  width: 0;
}

.underline:hover:after {
  width: calc(100% + var(--link-underline-padding) * 2);
}



.framed {
  width: 90%;
  object-fit: cover;
  box-shadow: -50px -50px 0 -40px var(--peach), 50px 50px 0 -40px var(--peach);
}
.text-shadow {
  color: white;
  -webkit-text-stroke: 0px #f1a3a3;
  text-shadow: 0px 1px 4px #000000;
}

.hover-image:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transform: scale(1.02);
  filter: brightness(80%);
  transition: all 0.25s ease;
}

.hover-image {
  transition: all 0.25s ease-in-out;
}


.page-title {
  font-size: 6rem;
  @media only screen and (max-width: 768px) {
    .page-title {
      font-size: 6rem;
    }
  }
}
.card .image-box {
  overflow: hidden;
}
.card .image-box img {
  transition: all 4s ease;
    width: 100%;
  border-radius: 6px;
}
.card:hover .image-box img {
  transform: scale(1.2);
  transition: all 4s ease;

}


.image-box {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}



.image-box:hover .text-box {
  left: 0%;
}

.quote {
  font-size: 1.25rem;
}
